<nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="margin-bottom: 20px;">
    <a class="navbar-brand" routerLink="catalog" style="margin-left: 15px;">MovieZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="catalog">Home</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li style="cursor: pointer;"><a (click)="Logout()" class="nav-link">{{authservice.isLogedin ? 'LogOut' : 'Login'}}</a></li>>
      </ul>
  </nav>