<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form (ngSubmit)="onSubmit(f)" class="form-signin" #f="ngForm">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email" ngModel email #email="ngModel">
                    <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a Valid email</span>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" ngModel>
                    <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form>
                <p class="text-center text-muted mt-5 mb-0">need a new account? <a routerLink="/signup"
                    class="fw-bold text-body"><u>Signup here</u></a>
                </p>
            </div>
        </div>
    </div>
</div>

